/*************************** HOME PAGE **************************/
.nav-item {
  padding: 0 20px;
}

.navbar {
  border-bottom: 1.5px solid #dedede;
}

.bg-olive-green {
  background-color: #354d38 !important;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #E0E0DB;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  color:black;
  font-style: normal;
  font-weight: 450;
  font-size: 2.0rem;
  letter-spacing: 0.12rem;
  padding-bottom: 10px;
}

h3 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

p {
  line-height: 2;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin: 90px auto;
}

a {
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.navButtons {
  padding: 0 1.5rem;
  letter-spacing: 0.05rem;
}

.sidenav {
  padding: 3.5rem;
}

.container {
  margin: 0;
}

.profile_picture {
  position: relative;
  padding-bottom: 2rem;

}

.container-footer{
  padding-top: 6rem;
}

/* .hello-img {
  width: 30%;
  position: absolute;
  left: 0;
  top: 20px;
} */

/*--------------- FADE IN CSS-----------------*/

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/************* END OF FADE IN CSS ******************/


.skill-row {
  width: 90%;
  margin: 100px auto 50px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.profile_picture {
  width: 95%;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
}

.contact-message {
  padding-bottom: 120px;
}

.copyright {
  padding: 20px 0;
  font-size: 12px;
}

/* .code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
 */


.footer-link {
  padding: 0 20px;
}

.btn {
  background: #dedede;
  border-radius: 12px;
  color: #354d38;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding: 15px 25px 15px 25px;
}

.btn:hover {
  background: #354d38;
  color: #dedede;
}

/*************************** PROJECTS **************************/
.body-projects {
  padding: 0;
  margin: 0;
}

