/*************************** HOME PAGE **************************/ 
body {
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #354d38;
  font-size: 3rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #354d38;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.12rem;
  padding-bottom: 10px;
}

h3 {
  color: #354d38;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

p {
  line-height: 2;
  color: #354d38;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

hr {
  border: dotted #354d38 6px;
  border-bottom: none;
  width: 4%;
  margin: 90px auto;
}

a{
  color: #354d38;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.navButtons{
  padding: 0 1.5rem;
  letter-spacing: 0.05rem;
}

.sidenav{
  padding: 3.5rem;
}

.top-container {
  background-color: white;
  /* padding:2rem; */
}

.profile{
  position: relative;
}

.hello-img{
  width: 30%;
  position: absolute;
  left: 0;
  top: 20px;
}

/*--------------- FADE IN CSS-----------------*/

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }



/************* END OF FADE IN CSS ******************/


.bottom-container {
  background-color: #354d38;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.profile_picture{
  width: 20%;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
}

.contact-message{
  padding-bottom: 120px;
}


.copyright {
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 12px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.baking-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link{
  color: white;
  padding: 0 20px;
}

.btn {
  background: #DEDEDE;
  border-radius: 12px;
  color: #354d38;
  font-size: 18px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 15px 25px 15px 25px;
}

.btn:hover {
  background: #354d38;
  color:#DEDEDE;

}

/*************************** PROJECTS **************************/ 
.body-projects{
  padding: 0;
  margin: 0;
}

.h1-projects{
  margin: 0 auto;
  font-size: 120px;
}

.dog-gif{
  width: 30%;
  padding: 0;
  margin: 0;
}